@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: Rupster Script; /* Гарнитура шрифта */
    src: url("../font/Rupster Script.ttf"); /* Путь к файлу со шрифтом */
}

@media all and (min-width: 50em) {
    #studio {
        float: right;
        width: 40%;
    }
}

body {	
	@color-main: #bebefe;
	@color-main-dim: #8F8FAD;
	@color-main-condensed: #26268D;
	@color-main-bleak: #D3D3FF;
	@color-main-white: #E3E3FF+#111;

	@color-a: #D7B9FE;
	@color-a-dim: #9B8DAD;
	@color-a-condensed: #52258D;
	@color-a-bleak: #E4D0FF;
	@color-a-white: #EEE1FF+#111;

	@color-b: #B7DFFE;
	@color-b-dim: #8C9FAD;
	@color-b-condensed: #25608D;
	@color-b-bleak: #CFEAFF;
	@color-b-white: #E1F2FF+#111;

	@color-c: #FFECB3;
	@color-c-dim: #AEA58B;
	@color-c-condensed: #8E7324;
	@color-c-bleak: #FFF2CC;
	@color-c-white: #FFF7DF;	

	
	@header-color: @color-main-dim;
	@h1-color: @color-b-dim;
	@footer-fcolor: @color-main-dim;
	@footer-color: @color-main;

	@playbill-color: white;
	@playbill-fcolor: @color-main-dim;
	@news-color: white;
	@news-fcolor: black;
	@study-color: white;
	@study-fcolor: black;

	@font-size: 16px;	
	font-family: monospace;
	font-size: @font-size;	
	min-width: 32em;
  max-width: 64em;	
	background-color: #bebefe;	
	margin: 1em auto 0px auto; /* the auto value on the sides, coupled with the width, centers the layout */
	color: @color-b-dim;
	overflow: scroll;

	/* ~~ Element/tag selectors ~~ */
	ul, ol, dl { /* Due to variations between browsers, it's best practices to zero padding and margin on lists. For consistency, you can either specify the amounts you want here, or on the list items (LI, DT, DD) they contain. Remember that what you do here will cascade to the .nav list unless you write a more specific selector. */
		padding: 0;
		margin: 0;
	}

	h1, h2, h3, h4, h5, h6, p {
			color: @h1-color;
		margin-top: 0;	 /* removing the top margin gets around an issue where margins can escape from their containing div. The remaining bottom margin will hold it away from any elements that follow. */
		padding-right: 18px;
		padding-left: 18px; /* adding the padding to the sides of the elements within the divs, instead of the divs themselves, gets rid of any box model math. A nested div with side padding can also be used as an alternate method. */
	}

	img {
		width: inherit;
		box-shadow: 0 0 15px @color-main-dim;
	}

	a {
		text-decoration: none;
		color: @color-main-condensed;
		img { /* this selector removes the default blue border displayed in some browsers around an image when it is surrounded by a link */
			border: none;
		}
		/* ~~ Styling for your site's links must remain in this order - including the group of selectors that create the hover effect. ~~ */
	}
	a.more {
		float: right;
		font-size: @font-size -1px;
		padding-bottom: 1em;
	}
	.gradline {
			padding: .5em;	
			background: linear-gradient(to left, @color-c-bleak, @color-main-white);
			font-size: @font-size+2;
  		a {
  			color: @color-b-dim;
				&:hover, &:active, &:focus { /* this changes the background and text color for both mouse and keyboard navigators */
					color: @color-main-condensed;
				}
  		}
			a.current {
				color: @color-b-condensed;
				text-decoration : none;
				text-align: center;
				font-weight: bold;
				letter-spacing: normal;
			}
	}

	.gohome {
		text-align: center;
		font-size: @font-size -3px;
		.gradline;
	}	

	/* ~~ this fixed width container surrounds the other divs ~~ */
	.container {
		left: 0px;
		-min-height: 15em;
		margin: 0px auto 0px auto; /* the auto value on the sides, coupled with the width, centers the layout */		
		padding: 1em 2em 1em 2em;
		-border: 2px solid @color-main;
		-border-radius: 3px; /* Радиус скругления */
		-box-shadow: 0 0 10px @color-main;
		h1 {			
			.gradline;
			text-align: left;			
 			font-weight: normal;
		}
		p {
			text-align: left;						
			text-indent: 2em;
		}
		//border: 2px @color-b-white solid;
	}
	.err404 {
		color: @color-main-dim;
		background: @color-main-white;
		font-size: 40px;
		text-align: center;
		font-family: fantasy;
	}
	.links {
		text-align: center;
		ul {
			.gradline;
			width: auto;
			li {
				padding-left: 2em;
				display: inline-block;
			}
		}
	}

	/* ~~ the header is not given a width. It will extend the full width of your layout. It contains an image placeholder that should be replaced with your own linked logo ~~ */
	header {
		font-family: 'Rupster Script', sans-serif;			
		text-align: center;
		background: linear-gradient(to top, #fefcea, @color-main);
		color: @header-color;
		#site-name {
			a { 
				color: @color-main-dim; 
			}
			font-size: @font-size*3;
			font-weight: normal;
			padding-top: 20px;
		}
		#pripis {
			font-size: @font-size;
			font-family: monospace;
			margin: -.5em 0em 0 2em ;
		}
	    /* ~~ The navigation list styles (can be removed if you choose to use a premade flyout menu like Spry) ~~ */
		#nav {
			padding: 1em 1em 2em 1em;
			height: 46px;	
			font-size: 26px;
			text-align: center;
			a, a:visited { /* grouping these selectors makes sure that your links retain their button look even after being visited */				
				border: none;
				text-decoration : none;
				text-align: center;
				color: @header-color;				
				width: auto;
				padding: 0px 20px 0px 20px;				
				&:hover, &:active, &:focus { /* this changes the background and text color for both mouse and keyboard navigators */
					color: @color-main-condensed;
				}
			}
			a.current {
				color: @color-b-condensed;
				text-decoration : none;
				text-align: center;
				font-weight: bold;
				letter-spacing: normal;
			}
			li {
				display: inline-block;
			}
		}
	}
	.content {
		background: white;
		padding: 2em 0 2em 0;
		border-top: 2px solid white;
		#coming {
  			background: @playbill-color;			
		    color: @playbill-fcolor;
			.playbill {
				padding: 1em 1em 1em 1em;
				width: 100%;
			    text-align: center;
			    font-size: @font-size;
			    td {
			    	padding: 10px 0px 10px 0px;
			    	border-top: .3em solid @playbill-color - #222;
				    border-bottom: .3em solid @playbill-color - #222;
			    }
			    .time_col {
			        .month {
			        }
			        .day {
			            font-size: @font-size*4;    
			            font-family: fantasy;
			            font-weight: bold;
			        }
			        .time {
			        }
			    }
			    .title_col {
			        .age {
			            display: none;
			            float: right;
			            margin-top: -@font-size;
			            color: black;
			            opacity: .3;
			        }
			        .about {
			            font-size: @font-size + 2;
			        }
			        .playname {
			            font-size: @font-size * 1.5;
			            font-weight: bold;
			        }
			    }
			    .place_col {
			        .place {
			            
			        }
			    }
			}
		}
		#news {
			text-align: left;
			background:  @news-color;
			color: @color-b-condensed;
			.newshead {
				line-height: 1.2em;
				padding: 2px 0px 0px 20px;
				font-size: 14px;
				display: inline;
				letter-spacing: .1em;
			}
			.newsdate {
				font-size: 12px;
				display: inline;
				font-weight: bold;
			}
		}
		#studio {
			padding: 1em 2em 1em 1em;
			background: @study-color;
			color: @study-fcolor;
			img {
				float: left;
				width: 30%;
				margin: 0 30px 0 30px; 				
			}
			p {
				display: block;
				padding: 0 50px 0 50px;
			}
		}
	}
	/* ~~ The footer ~~ */
	footer {	
		text-align: center;
		font-size: @font-size+1;
		min-height: @font-size*5;
		background: linear-gradient(to bottom, white, @color-main); //@footer-color;
		
		padding: @font-size*2 10px 30px 10px;
		#map {
			text-align: center;
		 	ul {
		 		li {		 			
			 		vertical-align: top;
			 		text-align: left;
					width: auto;
					display: inline-block;				
					a {
						padding: 0 1em 0em 0em;
						color: @color-b-condensed;
						&:hover, &:active, &:focus { /* this changes the background and text color for both mouse and keyboard navigators */
							color: @color-main-condensed;
							-text-decoration: underline;
						}
					}
					ul {						
					padding: 1em  0 0 0 ;
						font-size: @font-size;
						text-align: left;					
						li {
							display: block;
						}
					}
				}
			}
		}
		#social {
			a {
				text-decoration: none;
			}
			display: block;
			padding: 30px 0px 0 0px;
		}
	}
}
