@import url(index.css);

@media all and (min-width: 50em) {
    .play img {
        float: left;
    }
}

.play .info {
  //border: 1px solid black; 
  min-height: 17em;
}

.play img {  
  height: 14em;
  margin: 0 2em 2em 0;
}
