@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: Rupster Script; /* Гарнитура шрифта */
    src: url("../font/Rupster Script.ttf"); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Droid Sans; /* Гарнитура шрифта */
    src: url("../font/droidsans.ttf"); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Ubuntu; /* Гарнитура шрифта */
    src: url("../font/ubuntu.ttf"); /* Путь к файлу со шрифтом */
}

body {	
	//@about-color: #bebefe;
	//@news-color: #FF8A75;
	//@study-color: #A9FFC6;
	//@playbill-color: #FFBC75;
	@about-color: white;
	@about-fcolor: #565680;
	@playbill-color: #4C0D09;
	@playbill-fcolor: white;
	@news-color: white;
	@news-fcolor: black;
	@study-color: #0E4E0E;
	@study-fcolor: white;

	@font-size: 20px;	
	font-family: monospace, Georgia, Helvetica, sans-serif;
	font-size: @font-size;	
	background-color: #bebefe;	
	margin: auto auto auto auto; /* the auto value on the sides, coupled with the width, centers the layout */
	overflow: scroll;
	min-width: 800px;

	/* ~~ Element/tag selectors ~~ */
	ul, ol, dl { /* Due to variations between browsers, it's best practices to zero padding and margin on lists. For consistency, you can either specify the amounts you want here, or on the list items (LI, DT, DD) they contain. Remember that what you do here will cascade to the .nav list unless you write a more specific selector. */
		padding: 0;
		margin: 0;
	}

	h1, h2, h3, h4, h5, h6, p {
		margin-top: 0;	 /* removing the top margin gets around an issue where margins can escape from their containing div. The remaining bottom margin will hold it away from any elements that follow. */
		padding-right: 18px;
		padding-left: 18px; /* adding the padding to the sides of the elements within the divs, instead of the divs themselves, gets rid of any box model math. A nested div with side padding can also be used as an alternate method. */
	}

	h1 {
		margin: 0 0 10px 0;
		font-size: 24px;
	}

	h2 {
		margin: 0 0 10px 0;
		font-size: 20px;
	}

	h3 {
		margin: 0 0 8px 0;
		font-size: 18px;
	}

	h4 {
		margin: 0 0 6px 0;
		font-size: 16px;
	}

	h5 {
		margin: 0 0 18px 0;
		font-size: 15px;
	}

	p {
		margin: 0 0 8px 0;
		font-weight: normal;		
		line-height: 1.4;
	}

	strong {
		font-weight:bold;
	}

	em {
		font-style:italic;
	}


	a img { /* this selector removes the default blue border displayed in some browsers around an image when it is surrounded by a link */
		border: none;
	}
	/* ~~ Styling for your site's links must remain in this order - including the group of selectors that create the hover effect. ~~ */
	a:link {
		color: #0022bb;
		text-decoration: underline; /* unless you style your links to look extremely unique, it's best to provide underlines for quick visual identification */
	}
	a:visited {
	/*	color: #800080; */
		color: #0022bb;
		text-decoration: underline;
	}
	a:hover {
		color: #0022bb;
	}

	a:active {
		color: #0022bb;
	}

	a.more {
		float: right;
		font-size: 12px;
		color: MidnightBlue;
	} 

	/* ~~ this fixed width container surrounds the other divs ~~ */
	.container {
		display: inline-block;
		left: 0px;
		max-width: 950px;
		min-width: 650px;
		min-height: 250px;
		vertical-align: center;
		padding: 50px;
		text-align: left;		
		h1 {
			text-align: center;
			font-family: 'Rupster Script', sans-serif;
			font-weight: normal;
			font-size: @font-size*3;
		}
	}
	
	header {		
		//background-image: url("../img/bg1.png");
		background: #bebefe;
		//height: 20px;
		#site-name {
			display: none;
			text-align: center;		
			text-shadow: 1px 1px 2px black, 0 0 1em red;
			font-size: @font-size*2;
			font-family: 'Rupster Script', sans-serif;
			color: #bebefe*1.2;
			font-weight: normal;
			padding-top: 20px;
		}
		#nav {
			display: none;
			padding: 30px;
			height: 46px;	
			font-size: 26px;
			font-family: Rupster Script, Arial, Helvetica, sans-serif;
			color: DimGray;
			text-align: center;
			-border: 1px solid Blue;
		 	li {
			    position: relative; 
				-border: 1px solid green;
				display: inline-block;
			/*	white-space: pre; */
				ul {
					font-size: 22px;
				    position: absolute; 
					top: 45px;
					border: 0px solid red;
				    display: none; /* Скрываем подменю */
					background: radial-gradient(ellipse, 	DimGrey, DarkGrey);
					border-radius: 5px; /* Радиус скругления */
					border: 1px solid black; /* Радиус скругления */
					width: auto;
					a {
						padding: 2px 0 0 20px ;
						text-align: left;
						color: white;	
						border-bottom: 1px solid black;
					}					
				}
			}

			a, a:visited { /* grouping these selectors makes sure that your links retain their button look even after being visited */				
				float: left;
				border: none;
				text-decoration : none;
				text-align: center;
				color: DimGray;
				letter-spacing: 0px;
				width: 180px;
				.current {
					color: #000;
					border: 0;
					text-decoration : none;
					text-align: center;
					font-weight: bold;
					letter-spacing: normal;
				}

			}

			a:hover, a:active, a:focus { /* this changes the background and text color for both mouse and keyboard navigators */
				color: MidnightBlue;
				text-decoration: none;
			}


			li:hover {
				ul {
			    	display: block; /* При выделении пункта курсором мыши отображается подменю */	
			    	li { 
					    display: inline; /* При выделении пункта курсором мыши отображается подменю */	
						background: white;
					}
				}
			}
		}
	}

	.morelist {
		text-align: center;		
		padding: 30px 0px 0px 0px;
		li {
			a {
				vertical-align: center;				
			}
			padding: 0 10px 0 10px;
			border: 2px solid;
			border-radius: 20px;
			min-width: 150px;
			display: inline-block;
		}		
	}

	.content {
		text-align: center;
		#about {			
			background: @about-color;
			color: @about-fcolor;
		}
		#coming {			
			background: @playbill-color;			
			color: @playbill-fcolor;			
			.playbill {
			    @font-size: 16px;
				width: "100%";
			    //color: #0e4e0e;
			    //background: #D8E1CA;
			    text-align: center;
			    font-family: monospace;
			    font-size: @font-size;
			    td {
			    	padding: 10px 0px 10px 0px;
			    	border-top: 1px solid @playbill-color + #111;
				    border-bottom: 1px solid @playbill-color + #111;
			    }
			    .time_col {
			        .month {
			        }
			        .day {
			            font-size: @font-size*4;    
			            font-family: fantasy;
			            font-weight: bold;
			        }
			        .time {
			        }
			    }
			    .title_col {
			        .age {
			            display: none;
			            float: right;
			            margin-top: -@font-size;
			            color: black;
			            opacity: .3;
			        }
			        .about {
			            font-size: @font-size + 2;
			        }
			        .playname {
			            font-size: @font-size * 2;
			        }
			    }
			    .place_col {        
			        .place {
			            
			        }
			    }
			}
		}
		#news {
			background: @news-color;
			color: @news-fcolor;
			.newshead {
				line-height: 1.2em;
				padding: 2px 0px 0px 20px;				
				display: inline;
				letter-spacing: .2em;
				font-family: fantasy;
				.newsdate {			
					letter-spacing: normal;	
					display: inline;
					font-weight: bold;
				}
			}

		}		
		#studio {
			background: @study-color;			
			color: @study-fcolor;			
		}	
	}
	/* ~~ The footer ~~ */
	footer {
		text-align: center;
		font-size: @font-size - 3;
		height: 160px;
		background: #0B1E25;
		//linear-gradient(to bottom, #fefcea, #bebefe);
		padding: 60px 10px 30px 10px;
		#map {
			text-align: center;
			color: DimGray;
		 	ul li {
		 		text-align: left;
		 		width: 200px;
			    position: relative; 
				display: inline-block;
				ul {
					font-size: @font-size - 4;
					text-align: left;
					position: absolute; 
					top: 30px;
				}
			/*	white-space: pre; */
			}
		}
		#social {
			float: right;
			display: inline-block;
			padding: 0 130px 0 130px;
		}

	}
}
