@import url(index.css);
@import url(playbill.css);

@color-b-condensed: #25608D;

@media all and (min-width: 52em) {
    #studio {
        float: right;
        width: 40%;
	  }
}

#news {
	text-align: left;
	.newshead {
		line-height: 1.2em;
		padding: 0px 0px 0px 1em;
		display: inline;
		letter-spacing: .1em;
	}
	.newsdate {
		font-size: 80%;
		display: inline;
		font-weight: bold;
	}
}
#studio {
	background: white;
}
