@import url(index.css);

@media all and (min-width: 50em) {
    .info img {
        float: left;
    }
}

.playinfo {
  padding-top: 1em;
}

.info {
  min-height: 14em;
  h3, h4, p {
    padding: 0;
  }
}

.info img.mini {  
  height: 13em;
  margin: 0 2em 2em 0;
}
