%ul
  = map()
  %li#social
    %a#vklink{:href => "http://vk.com/theatrestory"}
      %img{:src => "/img/vk.png"}
    %a#ytlink{:href => "https://www.youtube.com/channel/UCQZP1LIaXDODkQ7ciUL9Ugw"}
      %img{:src => "/img/yt.png"}
