%meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
%meta{:content => "театр, студия, театральная студия, актерское мастерство, актерское мастерство спб, курсы актерского мастерства, школа актерского мастерства, уроки актерского мастерства, школа актерского мастерства в спб, студия актерского мастерства, театральные курсы, спб театральная студия, театральные студии в санкт петербурге, актерское мастерство для взрослых, кружок актерского мастерства, театральные курсы для взрослых спб, театральные кружки, актерское мастерство обучение, обучение актерскому мастерству, курсы театрального искусства, курсы актерского мастерства петербург, занятия по актерскому мастерству", :name => "keywords"}
%meta{:content => "2015 Театр Рассказа", :name => "copyright"}
%title Театр Рассказа
%script(src="/js/imgzoom.js" async="async")
%link(href="/css/index.css" rel="stylesheet" type="text/css")
%link(href=css rel="stylesheet" type="text/css")
