<!DOCTYPE html>
%html{:lang => "ru"}
  %head
    = elem("head")
    %link{:href => "/css/plays.less", :rel => "stylesheet", :type => "text/less"}
    %script{:src => "/js/less.js"}
  %body
 	%header{:align => "center"}=elem("header")
  .content
    #coming.container
      %table.playbill{:border => "0", :cellspacing => "0", "text-align" => "center", :width => "100%"}
        %tr
          %td.time_col
            .month Сентябрь
            .day 13
            .time воскресенье 15:00
          %td.title_col
            .age 18+
            .about Лариса Ратич
            .playname Спать пора
          %td.place_col
            .station м. Новочеркасская
            .place КДЦ Красногвардейский
            .addr пр. Шаумяна, д 22  
 	%footer= elem("footer")