<!DOCTYPE html>
%html{:lang => "ru"}
  %head
    = elem("head")
    %link{:href => "/css/plays.less", :rel => "stylesheet", :type => "text/less"}
    %script{:src => "/js/less.js"}
  %body
 	%header{:align => "center"}=elem("header")
  .content
    #coming.container= playbill()      
 	%footer= elem("footer")