<!DOCTYPE html>
%html{:lang => "ru"}
  %head
    = elem("head")
    %link{:href => "/css/study.less", :rel => "stylesheet", :type => "text/less"}
    %script{:src => "/js/less.js"}
  %body
 	%header{:align => "center"}= elem("header")
  .content
    #study.container
      %a{:href => "/html/study.html"}
        %img.main_img{:src => "/img/stud.jpg"}/
      %p
        Студия театра рассказа - молодой дружный коллектив творческих личностей, вместе растущих, творящих и экспериментирующих. Нас объединяет любовь к литературе и постановочной деятельности, желание познать себя и заглянуть за горизонты своих возможностей. Мы творим вместе, и это приносит моменты общей радости.
        В студии мы обучаемся по уникальным методикам, разработанным ученым и педагогом Н.С. Говоровым за годы руководства театром. Они направленны на развитие скрытых в каждом человеке коммуникативных и творческих способностей. Все студийцы получают возможность проявить себя на сцене как актеры, и выступить в качестве авторов этюдов как режиссеры.
      %p#comein
        Набор в студию театра открыт!
        %a{:href => "/html/contact.html"} Приходите.
    %p.gohome
      %a{:href => "/index.html"} На главную
 	%footer= elem("footer")