.container
  .links
    %ul= links()
  #addr_info.container
    %div Дом Писателя,
    %div ул. Звенигородская, д.22
    %div (м. «Звенигородская»)
    %div
      %div
        email:
        %a{:href => "mailto:polilog@yandex.ru"} polilog@yandex.ru
      %p
        %div Телефон: +79523661866
        %img.addresmap{:src => "/img/dompis_map.jpg"}/
