#contact.container
  .table
    .tr
      .td
        %b E-mail:
      .td
        .a{:href => "mailto:polilog@yandex.ru"} polilog@yandex.ru
    .tr
      .td
        %b Вопросы по сайту:
      .td
        .a{:href => "mailto:ephemerr@yandex.ru"} ephemerr@yandex.ru
    .tr.phone
      .td
        %b Телефон:
      .td
        +7-921-905-85-80
    .tr
      .td
        %b Молодежная группа:
      .td
        +7-921-323-00-41
