#coming.container
  %h1 Скоро
  = playbill()
#studio.container
  %h1 Набор в студию
  %a{:href => "/html/study.html"}
  %p Идет набор в студию на учебный год 15/16. Приглашаем всех, кто любит литературу и театр, всех, кто хочет открыть в себе новые возможности. Или просто хочет познакомиться!
  %a.more{:href => "/html/study.html"} Читать дальше...
#news.container
  %h1 Новости
  = topnews()
