#study.page
  .pic= img("stud")
  %p Студия театра рассказа – это мы, молодой дружный коллектив    растущих, творящих, экспериментирующих  личностей. Нас объединяет  любовь к литературе и к театру. Мы творим вместе, и это приносит  нам радость. В студии мы обучаемся по уникальным методикам, разработанным в конце прошлого века учёным и педагогом Н.С. Говоровым. Они направлены на развитие скрытых в каждом человеке творческих способностей.  Все студийцы имеют возможность проявить себя   в качестве  актёров, а  также   авторов-постановщиков.
  %p#comein
    Набор в студию театра открыт!
    %a{:href => "http://vk.com/opendoorstheatre"} Приходите.
