#study
  %a{:href => "/html/study.html"}
    %img.main_img{:src => "/img/stud.jpg"}/
  %p
    Студия театра рассказа – это мы, молодой дружный коллектив    растущих, творящих, экспериментирующих  личностей. Нас объединяет  любовь к литературе и к театру. Мы творим вместе, и это приносит  нам радость. В студии мы обучаемся по уникальным методикам, разработанным, еще в конце прошлого века, учёным и педагогом Н.С. Говоровым. Они направлены на развитие, скрытых в каждом человеке,  творческих способностей.  Все студийцы имеют возможность проявить себя   в качестве  актёров, а  так же   авторов  постановщиков. 
  %p#comein
    Набор в студию театра открыт!
    %a{:href => "/html/contact.html"} Приходите.
