.container
  .links
    %ul= links()
  .we
    %p
      «Театр рассказа» – это социальный проект по созданию нового театрального жанра - жанра театра рассказа, а также разработки новой системы театральной подготовки, обеспечивающей артиста фундаментальными навыками восприятия, взаимодействия и рассказа.
    %p
      Мы стремимся к решению обобщенной задачи: воспитание артиста и воспитание человека. Для нас театр - это школа жизни человека и общества.
  .gohome
    %a{:href => "/index.html"} На главную 