%p Театр рассказа – это театральный жанр на стыке драматического и чтецкого искусств.
%p Театр рассказа - это экспериментальная студия альтернативной театральной подготовки, развивающей навыки восприятия, взаимодействия и рассказа.
%p Театр рассказа - это реалистический драматический театр.

%p Основан он был в 1952 году режиссером, психологом, философом, общественным деятелем Николаем Сергеевичем Говоровым при активной поддержке Георгия Александровича Товстоногова.

%p За свою более чем полувековую историю, Театр рассказа существовал в различных формах. В настоящее время на многих площадках города ставятся спектакли, в форме студий работают взрослая и молодежная группы. Занятия проводятся бесплатно. Любой желающий может прийти на наши занятия, стать участнико дружного творческого коллектива.

%p Ждем вас на наших спектаклях и в нашей студии!
