#we
  %p
    Театр Рассказа – это особый жанр театральной деятельности, соединяющий в себе традиции  реалистического драматического театра и искусства 
    %span.def художественного слова.

  %p Театр Рассказа - это экспериментальная студия альтернативной театральной подготовки. Цель и главный интрумент нашего обучения - вынесение на сцену ключевого  звена процесса общения - рассказа.

  %p Театр Рассказа - это действующий театр! 

  %p Основан  в 1952 году актёром, психологом, исследователем, педагогом Николаем Сергеевичем Говоровым при поддержке Г. А. Товстоногова. 

  %p За свою более чем полувековую историю Театр Рассказа существовал в различных формах. В настоящее время у театра сложился свой репертуар, постоянно пополняющийся новыми спектаклями; ведётся работа в студиях для молодёжи и для взрослых. Занятия проводятся бесплатно - любой желающий может прийти на занятия и стать участником нашего  дружного творческого коллектива.

  %p Ждем вас на наших спектаклях и в нашей студии! 

