%p «Театр рассказа» – это социальный проект по созданию нового театрального жанра - жанра театра рассказа, и по разработке альтернативной системы театральной подготовки, развивающей навыки восприятия, взаимодействия и рассказа.

%p Основан он был в 1952 году режиссером, психологом, философом, общественным деятелем Николаем Сергеевичем Говоровым при активной поддержке Георгия Александровича Товстоногова.

%p В последующие полвека научно-художественные исследования охватили все стороны рассказчицкой деятельности в различных областях социальной практики: педагогики, науке, медицине, общественных движений людей. Были апробированы и доведены до завершенности уникальные технологии по решению многих человеческих проблем. Внедрение новых театрализованных подходов в социальную практику позволило в широкой мере освоить одну из основных функций театра - школа жизни людей и общества.

%p В настоящее время на многих площадках города ставятся спектакли и развиваются художественное и социально-педагогическое направления Театра рассказа. В форме студий работают взрослая и молодежная группы. Занятия проводятся бесплатно. Любой желающий может прийти на наши занятия, познакомиться с дружным творческим коллективом, овладеть навыками рассказа и их применением в личной жизни и в различных областях учебной и профессиональной деятельности.

%p Ждем вас на наших спектаклях и в нашей студии!
