.we
  %p
    «Театр рассказа» – это социальный проект по созданию нового театрального жанра - жанра театра рассказа, и по разработке альтернативной системы театральной подготовки, развивающей в артисте навыки восприятия, взаимодействия и рассказа.
