#map
  %ul
    %li
      %a{:href => "/html/theatre.html"} О театре
      %ul
        %li
          %a{:href => "/html/hist.html"} История
        %li
          %a{:href => "/html/genre.html"} Наш жанр
        %li
          %a{:href => "/html/rucov.html"} Руководитель
    %li
      %a{:href => "/html/plays.html"} Спектакли
      %ul
        %li
          %a{:href => "/html/bill.html"} Афиша
        %li
          %a{:href => "/html/plays.html"} Репертуар
    %li
      %a{:href => "/html/study.html"} Клуб-Студия
      %ul
        %li
          %a{:href => "/html/method.html"} Методики
        %li
          %a Набор
    %li
      %a{:href => "/html/contact.html"} Контакты
      %ul
        %li
          %a Гостевая книга
        %li
          %a Мы в сети
#social
  %a#vklink{:href => "http://vk.com/theatrestory"}
    %img{:src => "/img/vk.png"}
  %a#ytlink
    %img{:src => "/img/yt.png"}