#site-name
  %a{:href => "/index.html"} Театр Рассказа
#nav
  %ul
    %li
      %a{:href => "/html/theatre.html"} О театре
    %li
      %a{:href => "/html/plays.html"} Спектакли
    %li
      %a{:href => "/html/study.html"} Клуб-Студия
    %li
      %a{:href => "/html/contact.html"} Контакты
