#nav
  %ul
    %li
      - local current = "theatre" == section and "current" or "notcurrent"
      %a{:href => "/html/theatre.html"}(class=current) О театре
    %li
      - local current = "plays" == section and "current" or "notcurrent"
      %a{:href => "/html/plays.html"}(class=current) Спектакли
    %li
      - local current = "study" == section and "current" or "notcurrent"
      %a{:href => "/html/study.html"}(class=current) Клуб-Студия
    %li
      - local current = "contact" == section and "current" or "notcurrent"
      %a{:href => "/html/contact.html"}(class=current) Контакты